# Azure DevOps Pipeline for React App
trigger:
- main

pool:
  vmImage: 'ubuntu-latest'

variables:
  - name: CI
    value: false
  - name: GENERATE_SOURCEMAP
    value: false

stages:
- stage: Build
  displayName: 'Build React App'
  jobs:
  - job: Build
    displayName: 'Build Job'
    steps:
    - task: NodeTool@0
      inputs:
        versionSpec: '18.x'
      displayName: 'Install Node.js'

    - script: |
        npm install
      displayName: 'Install dependencies'

    - script: |
        npm run build
      displayName: 'Build React app'
      env:
        CI: false
        GENERATE_SOURCEMAP: false

    - task: PublishBuildArtifacts@1
      inputs:
        PathtoPublish: 'build'
        ArtifactName: 'react-app'
        publishLocation: 'Container'
      displayName: 'Publish build artifacts'

- stage: Deploy
  displayName: 'Deploy to Azure'
  dependsOn: Build
  condition: succeeded()
  jobs:
  - deployment: Deploy
    displayName: 'Deploy Job'
    environment: 'production'
    strategy:
      runOnce:
        deploy:
          steps:
          - task: DownloadBuildArtifacts@0
            inputs:
              buildType: 'current'
              downloadType: 'single'
              artifactName: 'react-app'
              downloadPath: '$(System.ArtifactsDirectory)'
            displayName: 'Download build artifacts'

          - task: AzureStaticWebApp@0
            inputs:
              app_location: '$(System.ArtifactsDirectory)/react-app'
              output_location: ''
              azure_static_web_apps_api_token: '$(AZURE_STATIC_WEB_APPS_API_TOKEN)'
            displayName: 'Deploy to Azure Static Web Apps'